/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./components/card/CardSection.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");


/* Scoped Styles (Hanya berlaku untuk CardSection) */
.CardSection_hero__euY_k {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.CardSection_hero__euY_k h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 5vw;
  font-weight: lighter;
  line-height: 100%;
  font-family: "Helvetica Neue";
}

.CardSection_hero__euY_k em {
  font-family: 'Instrument Serif', serif;
}

.CardSection_cards__y0D3G {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.CardSection_card__BcjFE {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  perspective: 1000px;
}

.CardSection_card__BcjFE p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.CardSection_cardWrapper__6yu5W {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: CardSection_floating__O0ECx 3s infinite ease-in-out;
}

#CardSection_card-1__lgATo .CardSection_cardWrapper__6yu5W {
  animation-delay: 0;
}

#CardSection_card-2__XiF8T .CardSection_cardWrapper__6yu5W {
  animation-delay: 0.2s;
}

#CardSection_card-3__lHTft .CardSection_cardWrapper__6yu5W {
  animation-delay: 0.4s;
}

#CardSection_card-4__qo1cj .CardSection_cardWrapper__6yu5W {
  animation-delay: 0.6s;
}

.CardSection_flipCardInner__j_avB {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.CardSection_flipCardFront__yJglk,
.CardSection_flipCardBack__1HRn1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.8em;
  overflow: hidden;
}

.CardSection_flipCardBack__1HRn1 {
  padding: 1em;
  background-color: #000000;
  transform: rotateY(180deg);
}


.CardSection_marqueeInner__pLH1c {
  display: flex;
  min-width: 200% ;
  animation: CardSection_marquee-scroll__6nID6 10s linear infinite;
}

.CardSection_marqueeContent__K_HXR {
  display: flex;
  gap: 2rem; /* Jarak antara teks dan gambar */
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0; /* Biar tidak mengecil */
}

.CardSection_marqueeContent__K_HXR img {
  height: 50px; /* Ukuran gambar diperbaiki */
  width: 50px;
}

.CardSection_marqueeContent__K_HXR span {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left:10px;
}

@keyframes CardSection_marquee-scroll__6nID6 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10%);
  }
}




@keyframes CardSection_floating__O0ECx {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.CardSection_footer__62_rN {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CardSection_footer__62_rN h1 {
  color: #fff;
  font-size: 5vw;
  font-weight: lighter;
  line-height: 100%;
  font-family: "Helvetica Neue";
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./components/card/global.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
/* styles/globals.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "Helvetica Neue";
    src: url(/fonts/helveticaneue.woff2);
  }
  
  html,
  body {
    width: 100%;
    height: 500vh;
    font-family: "Helvetica Neue";
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
